@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: var(--color-dark-blue);
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
.container-di::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border: 2px solid var(--color-shadow-dark-blue);
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--color-shadow-dark-blue);
}